
django==3.2.4
bcrypt==3.2.0 
cryptography==3.4.7 
django==3.2.4 
django-cors-headers==3.7.0 
mysql-connector-c==6.1.11 
mysqlclient==2.0.3  
pyjwt==2.1.0  
pymysql==1.0.2 
python==3.8.11 
python_abi==3.8 
